In [ ]:
"""A=['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [ ]:
x=0
while(x<2):
  print(x)
  x=x+1

0
1

In [ ]:
for i,x in enumerate(['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [ ]:
l=[1,3,2]
#nl=sorted(l)
#len(l)
#print(nl)
#sum(l)
l.sort()
l

[1, 2, 3]

In [89]:

a=float(input("Ingrese el número: "))
def add1(a):
  b=a+1
  return b
c=add1(a)
c

Ingrese el número: 5

6.0

In [ ]:
def GU():
  pass
GU()

In [ ]:
def NoWork():
  pass
print(NoWork())

None

In [ ]:
def Thriller():
  date=1982
  return(date)
date=2017
print(Thriller())
#print(date)

1982

In [95]:
a=float(input("ingrese el dividendo: "))
b=float(input("ingrese el divisor: "))
def division(a,b):
    c=a/b
    return c
d=division(a,b)
print(d)

ingrese el dividendo: 8
ingrese el divisor: 2
4.0